/* Globals */
body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 75%;
    /*background: url('/img/design/mobile-first-grid.png') no-repeat;*/
    margin: 0;
    color: #333;
}
h1, h2, h3, h4, h5, h6{
    line-height: 0.75em;
    color: #000;
    text-align: center;
}
h1 {
    font-size: 2em;
}
p {
    font-size: 1.333333333em;
    line-height: 1.5em;
}

/* Header */
header {
    border-bottom: 1px solid #333;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    padding: 0.75em;
}
.gravatar {
    width: 4em;
    border-radius: 50%;
    float: left;
}

/* Navigation */
nav {
    float: left;
}
.list {
    list-style: none;
    padding-left: 0;
}
.list-item {
    line-height: 2em;
    border-bottom: 1px solid #000;
    border-bottom: 1px solid rgba(0,0,0,.3);
    border-radius: 0 0 5px 0;
    padding: 0.5em;
}

/* Main */
.main {
    overflow: hidden;
    padding: 0.75em;
}

/* Utitlities */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}