.u-markdown h1 {
    font-size: 2.618em;
}
.u-markdown h2 {
    font-size: 1.849em;
}
.u-markdown h3 {
    font-size: 1.618em;
}
.u-markdown h4 {
    font-size: 1.143em;
}
.u-markdown h5 {
    font-size: 1em;
}
.u-markdown h6 {
    font-size: 0.706em;
}