.Post {
    font-size: 18px;
    padding: 0 0.778em 0.778em;
}
.Post h1, .Post h2, .Post h3 {
    line-height: 1.258;
    margin: 0.778em 0 0.481em 0;
}
.Post-header h1 {
    font-family: var(--display-font-family);
    font-size: 2.618em;
}
.Post-infos, .Post-excerpt {
    padding-right: 1.416rem;
    text-align: right;
}
.Post-infos time {
    font-style: italic;
}
